<div class="row">
    <div class="col-12 col-sm-2 m-0 p-1">
        <!-- Sidebar -->
        <nav id="sidebar" class="navbar m-0">
            <div class="container d-flex flex-column">
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group">
                            {{#each trips }}
                            {{#if this.activelyDisplayedTrip}}
                            <li class="list-group-item m-2 trip active" data-trip-id="{{ this.id }}"> {{ this.location
                                }} </li>
                            {{else}}
                            <li class="list-group-item m-2 trip" data-trip-id="{{ this.id }}"> {{ this.location }} </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button id="add-trip-button" class="w-100 btn btn-lg bg-secondary" type="button">Add
                            Trip</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-12 col-sm-10 m-0 p-1">
        <div class="container m-0">
            <div class="row">
                <div class="col-12 m-0 p-0">
                    <nav class="navbar navbar-light bg-transparent w-100">
                        <div class="container d-flex">
                            <button id="sign-out-button" class="w-20 btn btn-lg bg-secondary" type="button"
                                class="float-start">Sign out</button>
                            <button type="button" id="delete-a-trip" class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteTripModal" class="float-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="item-container col-12 col-sm-11 m-0 p-0">
                    <ul class="list-group">
                        {{#each tripToDisplayItems }}
                        <li class="list-group-item mr-0 trip-list-item">
                            {{#if this.completion}}
                            <input class="form-check-input me-1" type="checkbox" value="" checked="true"
                                aria-label="..." data-item-id="{{ this.id }}">
                            {{else}}
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."
                                data-item-id="{{ this.id }}">
                            {{/if}}
                            <h4 class="item-title-font">{{ this.item_title }}</h4>
                            <p> {{ this.item_description }} </p>
                            <p> Needed by: {{ this.date_needby }} </p>
                            <div class="delete-item-container col-12 col-sm-1 container-sm"
                                data-item-id="{{ this.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>


            </div>
            <div class="row">
                {{#if displayItemInput}}
                <form id="addItemForm">
                    <div class="form-floating w-75">
                        <textarea class="form-control" placeholder="Item title" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Item title</label>
                    </div>
                    <div class="form-floating w-75">
                        <textarea class="form-control" placeholder="Item description"
                            id="floatingItemDescription"></textarea>
                        <label for="floatingItemDescription">Description</label>
                    </div>
                    <div class="form-floating w-25">
                        <input type="text" class="form-control" id="needByDate" placeholder="Need by">
                        <label for="needByDate">Need by</label>
                    </div>
                    <button id="add-item-button" class="w-20 btn btn-lg bg-secondary" type="submit"
                        class="float-start">Submit!</button>
                </form>


                {{/if}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDeleteTripModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Trip</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this trip?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="delete-confirmation-button">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/trips.js"></script>